@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600');
body{
	font-family: 'Montserrat', sans-serif;
}
.cnn{
	color: #fff !important;
}
.active-nav{
	background-color: #FF3401;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #ffffff !important;
}
.bg-on-click{
	background-color: #fff;
	color: #000 !important;
	border-bottom: 1px solid #FF3401;
}

.on-scroll-nav{
	color: #000 !important;
	background-color: #FF3401;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.mobile-header-nav,
.destination-header-nav,
.connect-header-nav,
.deals-header-nav,
.blog-header-nav,
.search-header-nav,
.mobile-search-toggle-nav,
.mobile-toggle-nav {
  background-color: #fff;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;
  top: 99px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
}
.mobile-travel-nav,
.mobile-destination-nav,
.mobile-connect-nav{
	background-color: #fff;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 20;
  overflow: hidden;
}
.mobile-search-toggle-nav,
.mobile-toggle-nav{
	top: 72px !important;
}
.upper-area{
	width: 90%;
	margin: 0 auto;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.upper-area .input-group{
	width: 100%;
	-webkit-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.25);
}
.upper-area input{
	border: 1px solid #e7e7e7;
	border-right: 0px;
	border-radius: 5px;
	text-align: right;
	padding: 9px;
	padding-right: 2rem;
}
.upper-area .input-group-text{
	background-color: #fff;
	border-left: 0px;
	border-color: #e7e7e7;
	padding-right: 4rem;
}
.upper-area .input-group-text img{
	width: 20px !important;
	opacity: 0.5;
}
.upper-area input::placeholder{
	font-size: 13px;
}
.upper-area input:focus{
	outline: none;
	box-shadow: none;
	border-color: #e7e7e7;
}
.upper-area img.fa-times{
	cursor: pointer;
	width: 28px !important;
	padding-top: 0.5rem;
}
.scrollable{
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	height: 100%;
	padding-top: 3rem;
  	padding-bottom: 11rem;
	overflow-x: hidden;
	overflow-y: scroll;
}
.scrollable img{
	border-radius: 5px;
}
.scrollable::-webkit-scrollbar{
	width: 7px;
}
.scrollable::-webkit-scrollbar-track {
    background-color: rgba(217,217,217,1);
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(255,52,1,1);
}
.scrollable .nav{
	margin-bottom: 5rem !important;
}
.scrollable .nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	color: #FF3401;
	margin-right: 1rem;
	margin-left: 1rem;
}
.scrollable .nav a.active{
	border-bottom: 2px solid #FF3401;
}
.mobile-scrollable{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	height: 100%;
  	padding-bottom: 11rem;
	overflow-x: hidden;
	overflow-y: scroll;
}
.mobile-scrollable::-webkit-scrollbar{
	width: 7px;
}
.mobile-scrollable::-webkit-scrollbar-track {
    background-color: rgba(217,217,217,1);
}
.mobile-scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(255,52,1,1);
}
.mobile-scrollable .nav{
	margin-bottom: 5rem !important;
}
.mobile-scrollable .nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	color: #FF3401;
	margin-right: 1rem;
	margin-left: 1rem;
}
.mobile-scrollable .nav a.active{
	border-bottom: 2px solid #FF3401;
}

p.country-name{
	color: #343435;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 2px;
	margin-top: 2rem;
}
.country-list{
	text-decoration: none;
	color: #343435;
	font-size: 13px;
}
.map-container{
	height: 150px;
}
.map-container img{
	width: 120px;
}
.cities-card img{
	border-radius: 5px;
	margin-bottom: 1.5rem;
}
.cities-card a{
	font-weight: bold;
	text-decoration: none;
	color: #000 !important;
	font-size: 13px;
}
.cities-card p{
	font-weight: bold;
	text-decoration: none;
	color: #000 !important;
	font-size: 13px;
}
.destination-img img{
	border-radius: 5px;
}
.mobile-ul{
	padding: 0px;
	margin: 0px;
	display: list-item;
}
.mobile-ul li{
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.5rem;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.mobile-ul li a{
	font-weight: 600;
	color: #000;
	transition: 0.3s all ease-in-out;
}
.mobile-ul li:hover a{
	color: #FF3401;
	transition: 0.3s all ease-in-out;
}



/* to display a block after clicking */
.show {
    display: block;
}

.slider-area{
	position: relative;
}
.owl-theme{
	position: relative;
}
.owl-theme img{
	max-height: 700px;
}
.owl-dots{
	position: absolute;
	bottom: 0;
	left: 48%;
}
.slider-text{
	position: absolute;
	top: 50%;
  	left: 50%;
  	z-index: 1;
  	transform: translate(-50%, -50%);
}
.slider-text h2{
	color: #fff;
	font-size: 46px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.slider-text a.btn-slider{
	background-color: #FF3401;
	color: #fff;
	text-decoration: none;
	border-radius: 0px;
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 1rem;
}
.slider-text p{
	font-size: 14px;
	color: #fff;
	margin-top: 1.5rem;
}
.navbar .logo-area{
	background-color: #fff;
	padding: 20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 8rem;
}
.navbar{
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
	right: 0;
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
	z-index: 1;
}
.navbar ul {
	padding: 0px;
	margin: 0px;
	margin-right: 6rem;
}
.navbar ul li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	padding-top: 1.7rem;
	padding-bottom: 1rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	margin-left: -5px;
	transition: 0.3s all ease-in-out;
}
.navbar ul li:hover{
	background-color: #FF3401;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: 0.3s all ease-in-out;
}
.navbar ul li:hover a{
	color: #fff !important;
}
.navbar ul li a{
	color: #fff;
	font-weight: bold;
	margin: 0px;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
}
.nav-img{
	width: 40px;
}
.nav-img:hover{
	background-color: transparent !important;
}

.navbar-onScroll{
	background-color: #fff;
	position: fixed;
	display: none;
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	z-index: 99;
}
.navbar-onScroll ul li a{
	color: #000 !important;
}
.navbar-onScroll ul li:hover a{
	color: #fff !important;
}


.mobile-nav{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
	z-index: 1;
}
.mobile-nav .logo-area{
	background-color: #fff;
	padding: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 0.2rem;
}
.mobile-nav .nav-ul {
	padding: 0px;
	margin: 0px;
}
.mobile-nav .nav-ul li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.mobile-nav .mobile-nav-img img{
	width: 28px;
	padding-bottom: 5px;
}
.mobile-nav .nav-ul a{
	text-decoration: none;
	color: #fff;
}
.mobile-nav a .fa-bars,
.mobile-nav a .fa-times{
	font-size: 26px;
}
.mobile-nav .nav-link{
	padding: 0.5rem 0.5rem;
}

.mobile-nav-on-scroll{
	display: none;
	background-color: #fff;
	position: fixed;
	top: 0px;
	width: 100%;
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	z-index: 98;
	padding-top: 10px;
	padding-bottom: 10px;
}	
.mobile-nav-on-scroll ul li a{
	color: #000 !important;
}
.mobile-nav-on-scroll .logo-area{
	background-color: #fff;
	padding: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 0.2rem;
}
.mobile-nav-on-scroll .nav-ul {
	padding: 0px;
	margin: 0px;
}
.mobile-nav-on-scroll .nav-ul li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.mobile-nav-on-scroll .mobile-nav-img img{
	width: 28px;
	padding-bottom: 5px;
}
.mobile-nav-on-scroll .nav-ul a{
	text-decoration: none;
	color: #fff;
}
.mobile-nav-on-scroll a .fa-bars,
.mobile-nav-on-scroll a .fa-times{
	font-size: 26px;
}
.mobile-nav-on-scroll .nav-link{
	padding: 0.5rem 0.5rem;
}

/**********************************************
		end of navbar section styling
**********************************************/




/**********************************************
		media queries section styling
**********************************************/
@media(max-width: 1150px){
	.slider-text{
		position: absolute;
		top: 50%;
	  	left: 50%;
	  	z-index: 1;
	  	width: 60%;
	  	transform: translate(-50%, -50%);
	}
}
@media(max-width: 980px){
	.navbar .logo-area{
		margin-left: 1rem;
	}
	.navbar ul{
		margin-right: 1rem;
	}
	.slider-text h2{
		font-size: 40px;
	}
	.slider-text a.btn-slider{
	}
	.slider-text p{
	}
}
@media(min-width: 769px){
	.mobile-nav-on-scroll{
		display: none;
	}
}
@media(max-width: 768px){
	.navbar{
		display: none;
	}
	.navbar-onScroll{
		display: none !important;
	}
	.mobile-nav{
		display: block;
	}
	.mobile-nav-on-scroll{
		display: block;
	}
	.owl-dots{
		left: 45%;
	}
	.slider-text{
		width: 80%;
		top: 60%;
	}
	.slider-text h2{
		font-size: 34px;
	}
	.slider-text a.btn-slider{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 12px;
		margin-top: 0.2rem;
	}
	.slider-text p{
		font-size: 13px;
		margin-top: 0.5rem;
	}
}
@media(max-width: 574px){
	.owl-dots{
		left: 42%;
	}
	.slider-text h2{
		font-size: 26px;
	}
	.slider-text a.btn-slider{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 12px;
	}
	.slider-text p{
		font-size: 12px;
	}
	.mobile-nav-img img{width: 20px !important;}
	.mobile-toggle-menu i{font-size: 20px !important;}
	.mobile-search-toggle-nav,
	.mobile-toggle-nav{
		top: 69px !important;
	}
	.tab-content{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
}
@media(max-width: 420px){
	.slider-text h2{
		font-size: 20px;
	}
	.slider-text a.btn-slider{
		background-color: #FF3401;
		color: #fff;
		text-decoration: none;
		border-radius: 0px;
		font-size: 12px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 0.2rem;
	}
	.slider-text p{
		font-size: 12px;
		margin-top: 0.5rem;
	}
	p.country-name{
		font-size: 13px;
	}
	.country-list{
		font-size: 11px;
	}
}
@media(max-width: 360px){
	.slider-text h2{
		font-size: 16px;
	}
	.slider-text a.btn-slider{
		background-color: #FF3401;
		color: #fff;
		text-decoration: none;
		border-radius: 0px;
		font-size: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 0rem;
	}
	.slider-text p{
		font-size: 10px;
		margin-top: 0rem;
	}
	p.country-name{
		font-size: 12px;
	}
	.country-list{
		font-size: 10px;
	}
}